<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>vuelos</h1>
<ul>
{% for vuelo in object_list %}
    <li>id: {{ vuelo.id }} - fecha: {{ vuelo.fecha }} - origen: {{ vuelo.ciudad_origen }} - destino: {{ vuelo.ciudad_destino }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
</body>
</html>